* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: grid;
    place-items: center;
    margin: 0;
    background: #1d1e22;
  }
  
  .wrapper {
    position: relative;
  }
  
  .checkbox {
    position: absolute;
    transform: scale(0);
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(8px); }
    75% { transform: translateX(-8px); }
    100% { transform: translateX(0); }
  }
  
  .checkbox:checked ~ .textbox,
  .checkbox:checked ~ .button {
    border-color: #d45759;
    animation: shake 0.1635s 0s 3;
  }
  
  .textbox {
    width: 160px;
    height: 48px;
    padding: 0 10px;
    border: 2px solid rgba(255, 255, 255, 0.175);
    border-radius: 6px;
    font-family: Poppins;
    font-size: 14px;
    background: transparent;
    color: #ffffff;
    outline: none;
    transition: all 0.3s;
  }
  
  .button {
    position: absolute;
    top: 50%;
    right: 10px;
    display: grid;
    place-items: center;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.85);
    color: #1d1e22;
    font-size: 16px;
    cursor: pointer;
  }